@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Nova+Mono&family=Share+Tech+Mono&display=swap');
* {
	padding: 0; margin: 0;
}
body {
	background-image: url("galaxy_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	font-family: 'Montserrat', sans-serif;
	cursor: url(rocketSVG.svg) 18 18, auto;
	overflow: hidden;
	user-select: none;
}
canvas {
	background-image: url("galaxy_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	display: block;
	margin: 0 auto;
}

/* ---------------------------- Menü ---------------------------- */

.hauptmenu {
	display: block;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
	transition: all 0.9s ease-out;
}

.hauptmenu-fadeOut {
	top: -100%;
	opacity: 0;
	visibility: hidden;
}

.ingame {
	display: block;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease-out;
}

.ingame-fadeIn {
	opacity: 1;
	visibility: visible;
}

.gameovermenu {
	display: block;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease-out;
}

.gameovermenu-fadeIn {
	opacity: 1;
	visibility: visible;
}

/* ---------------------------- Button Reihe ---------------------------- */

.button-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	align-content: center; /*optional -> lines*/
	position: absolute;
	top: 67%;
}

/* ---------------------------- Button Elemente ---------------------------- */

.button-row div {
	color: white;
	font-family: 'Montserrat', sans-serif;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	text-align: center;
	inline-size: auto;
	padding: 0 20px 0 20px;
	box-shadow: 5px 5px 10px slategray;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 60px;
	background-color: #ff8300;
	margin: 0px 20px;
	transition: all 0.6s ease-out;
}
.button-row div:hover{
	background-color: #db6400;
}
.button-row div p {
	color: white;
	font-size: 30px;
}

/* ---------------------------- InGame winns ---------------------------- */

.multiplayerDiv {
	position: absolute;
	bottom: 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	left: 0;
	right: 0;
	margin: auto;
}

.multiplayerDiv div:first-of-type .svgBall {
	transform: rotate(30deg);
}

.multiplayerDiv div:last-of-type .svgBall { /* display none ist im Weg */
	transform: rotate(-30deg);
}

.rotateLeft {
	transform: rotate(-30deg);
}

.feld {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.svgBall {
	width: 70px;
	height: 70px;
	margin-top: 12px;
	margin-bottom: 6px;
}

.name {
	color: #333;
	font-size: 26px;
	font-weight: 300;
}

.winns {
	color: #555;
	font-size: 34px;
	font-weight: 400;
}

/* ---------------------------- Logo ---------------------------- */

#logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* ---------------------------- Game Over Back Button ---------------------------- */
.buttonBack {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 42px;
	background-color: #FF8300;
	position: absolute;
	top: 0%;
	margin: 20px 20px;

	border-radius: 2px;

	transition: all 0.6s ease-out;

	color: white;
	font-family: 'Montserrat', sans-serif;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	text-align: center;
	inline-size: auto;
	padding: 0 20px 0 20px;
	box-shadow: 5px 5px 10px slategray;
}

.buttonBack p {
	color: white;
	font-size: 20px;
	font-weight: 400;
}

.buttonBack:hover {
	background-color: #db6400;
	transform: scale(1.1);
}

/* ---------------------------- Texte ---------------------------- */

.texte-row h1 {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	transition: font-size 3s ease-out;
}

.text1 {
	top: 42%;
	font-size: 50px;
	font-weight: 500;
	color: white;
}

.text2 {
	top: 52%;
	font-size: 30px;
	font-weight: 300;
	color: white;
}

.text3 {
	top: 78%;
	font-size: 32px;
	font-weight: 100;
	color: white;
}

/* ---------------------------- HighScore & Winner - Game Over ---------------------------- */

.textHighScore {
	top: 17%;
	font-size: 36px;
	font-weight: 500;
	color: white;
	opacity: 0;
	visibility: hidden;
}

.textHighScore-fadeIn {
	opacity: 1;
	visibility: visible;
	animation: pulsieren 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite; /*ease-in-out*/
}
.textHighScore-bottom {
	top: 63%;
	font-size: 30px;
	animation: pulsieren 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite 2s;
}

@keyframes pulsieren {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

/* ---------------------------- Punkte InGame ---------------------------- */

.punktzahlDiv {
	position: absolute;
	top: 0%;
	right: 0%;
	padding: 16px 30px;
}

.punktzahlDiv p {
	color: white;
	text-align: right;
}

.points {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 8px;
}

.highScore {
	font-size: 24px;
	font-weight: 300;
}